<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>n°</td>
            <td>이름</td>
            <td>주소</td>
            <td>전화번호</td>
            <td>행동</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].address %></td>
                <td><%= data[i].phone %></td>
                <td>
                  <a href="/update/<%= data[i].id %>" class="btn btn-info">수정</a>
                  <a href="/delete/<%= data[i].id %>" class="btn btn-danger">삭제</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div class="card-body">

        <form action="/add" method="POST">
          <div class="form-group">
            <input type="text" name="name" placeholder="이름" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="address" placeholder="주소" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="phone" placeholder="전화번호" class="form-control">
          </div>

          <button type="submit" class="btn btn-primary">
            정보 저장
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
